codecov: true
coveralls: true
language: julia
julia:
  - 1.0
  - 1.1

before_script:
  - julia --color=yes -e 'using Pkg;
      Pkg.add(PackageSpec(name = "MbedTLS", version="0.6.6"))
      Pkg.pin(PackageSpec(name = "MbedTLS", version="0.6.6"))
      Pkg.add(PackageSpec(name="BinaryProvider", rev="master"));
      Pkg.add(PackageSpec(name="BinaryBuilder", rev="master"))'


jobs:
  include:
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
      - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - julia --project=docs/ docs/make.jl
      after_success: skip

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); cd(Pkg.dir("PolyChaos")); using Coverage; Coveralls.submit(process_folder()); Codecov.submit(process_folder())'
